*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

body {
    background-color: black;
}
.container {
    height: 100vh;
    display: flex;
    max-width: 900px;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    
    gap: 50px;
}

.card {
height: 410px;
}
li:active {
    background-color: rgba(52, 129, 245, 0.74);
    cursor: pointer;
}
.name-haupt{
    border: 1px solid rgba(202, 198, 198, 0.776);
    border-radius: 5px;
    height: 300px;
    width: 300px;
}
.name-card {
    padding: 10px 0 5px 7px;
}
.name-texttop {
    color: rgb(165, 158, 158);
    padding-top:  5px;
    padding-bottom: 20px;
    font-weight: bold;
    
}

p {
    padding-left: 7px;
    padding-right: 15px;
}
.btin {
    color: rgb(41, 107, 206);
    font-weight: bold;
    padding-left: 7px;

}