*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}



body {
    background-color: black;
}
.container {
    height: 100vh;
    display: flex;
    max-width: 900px;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    gap: 50px;
}
.list-group{
    width: 290px;
}



.card{
    max-height: 300px;
    
}

.card-body{
    display: none;
}

.card-body.active{
    display: block;
}

